{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="container-fluid " style="margin-top: 1%;">

        <div class="panel panel-default col-md-4 col-md-offset-1 ">
            <div class="panel-heading">默认训练模型</div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label for="regretar">目标值</label>
                        <input type="text" class="form-control" id="" placeholder="目标值" name="regretar">
                    </div>
                    <div class="form-group">
                        <label for="regresfile">文件上传</label>
                        <input type="file" id="regresfile" name="regresfile">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>

            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="panel panel-default col-md-4 ">
            <div class="panel-heading">
                自定义训练模型
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label for="regretar1">目标值</label>
                        <input type="text" class="form-control" id="" placeholder="目标值" name="regretar1">
                    </div>
                    <div class="form-group">
                        <label for="regresfile1">文件上传</label>
                        <input type="file" id="regresfile1" name="regresfile1">
                    </div>
                    <div class="form-group">
                        <label for="exerfqt">训练率</label>
                        <input type="text" class="form-control" id="" placeholder="0.8" name="exerfqt" value="0.8">
                    </div>
                    <div class="form-group">
                        <label for="cont">随机种子</label>
                        <input type="number" class="form-control" id="" placeholder="65536" name="cont" value="65536">
                    </div>
                    <div class="form-group">
                        <label for="cont">隐藏神经元参数</label>
                        <input type="number" class="form-control" id="" placeholder="10" name="sj" value="10">
                    </div>
                    <div class="form-group">
                        <label for="cont">学习次数</label>
                        <input type="number" class="form-control" id="" placeholder="1000" name="learcnt" value="1000">
                    </div>
                    <div class="form-group">
                        <label for="cont">学习率</label>
                        <input type="text" class="form-control" id="" placeholder="0.001" name="learnfqt" value="0.001">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>

            </div>
        </div>
    </div>

    </div>
    {% endblock %}
    <script>

    </script>
</body>