{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

<body>
    {% block content %}
    <div class="container-fluid " style="margin-top: 1%;">

        <div class="panel panel-default col-md-4 col-md-offset-1 ">
            <div class="panel-heading" style="border-color:white;background-color: transparent;">k均值聚类默认训练模型</div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="regresfile">文件上传</label>
                        <input type="file" id="regresfile" name="regresfile">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>

            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="panel panel-default col-md-4 ">
            <div class="panel-heading" style="border-color:white;background-color: transparent;">
                自定义训练模型
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="regresfile1">文件上传</label>
                        <input type="file" id="regresfile1" name="regresfile1">
                    </div>
                    <div class="form-group">
                        <label for="exerfqt">聚类点数</label>
                        <input type="number" class="form-control" id="" placeholder="3" name="exerfqt" value="3">
                    </div>
                    <div class="form-group">
                        <label for="cont">随机种子</label>
                        <input type="number" class="form-control" id="" placeholder="65536" name="cont" value="65536">
                    </div>
                    <button type="submit" class="btn btn-default">提交</button>
                </form>

            </div>
        </div>
    </div>

    </div>
    {% endblock %}
    <script>

    </script>
</body>