<div class="menu">
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">LL</div>
        <div class="contet hide">
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">YY</div>
        <div class="contet hide">
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">LL</div>
        <div class="contet hide">
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">LL</div>
        <div class="contet hide">
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">LL</div>
        <div class="contet hide">
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
            <a href="">1</a>
        </div>
    </div>
</div>