<div class="menu">
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">Regression</div>
        <div class="contet hide">
            <a href="">Linear regression</a>
            <a href="">Decision Tree regression</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">Classification</div>
        <div class="contet hide">
            <a href="">Decision Tree lassification</a>
            <a href="">Logical regression</a>
            <a href="">MLP</a>
            <a href="">Naive Bayes</a>
            <a href="">RF</a>
            <a href="">SVM</a>
        </div>
    </div>
    <div class="itm">
        <div class="heder" onclick="clickMe(this)">Clustering</div>
        <div class="contet hide">
            <a href="">K_means</a>
            <a href="">DBSCAN</a>
            <a href="">hierarchical</a>
        </div>
    </div>
</div>