<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to machine learn</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
    <style>
        .hide {
            display: none;
        }

        .menu {
            height: 100%;
            width: 80%;
            border: #333;
        }

        .menu .heder {
            background-color: rgb(182, 212, 212);
            padding: 10px 5px;
        }

        .menu .contet a {
            display: block;
            padding: 5px;
            border-bottom: 1px dotted #919a9e;
        }
    </style>
</head>

<body>
    <header>
        <!-- 引入导航栏模板 -->
        {% include 'components/navbar.html' %}
    </header>

    <!-- 主要内容区域 -->
    <div class="container-fluid">
        <div class="row">
            <!-- 侧边栏 -->
            <div class="col-md-2 d-none d-md-block">
                {% include 'components/sidebar.html' %}
            </div>

            <div class="col-md-10">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script>
        function clickMe(self) {
            var hashide = $(self).next().hasClass("hide");
            if (hashide) {
                $(self).next().removeClass("hide");
                $(self).parent().siblings().find(".contet").addClass("hide");
            }
            else {
                $(self).next().addClass("hide");
            }
        }
    </script>

</body>

</html>