{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="container-fluid " style="margin-top: 1%;">
        <div class="panel panel-default col-md-4 col-md-offset-1" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">k均值算法</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'Kmeans' %}">
                        k均值算法是一种简单高效的无监督聚类算法。它通过迭代地将数据划分为K个聚类,使每个样本到其所属聚类质心的平均距离最小。
                        K-means易于实现,在处理大规模数据时收敛速度快,但需要预先指定聚类数K,并且对异常值和噪声敏感。
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">层次聚类</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'Hierarchical' %}">
                        层次聚类是一种自底向上的聚类方法,它通过递归地合并相似的数据样本来构建层次树状结构。
                        它不需要预先指定聚类数,可以观察数据的层次结构。
                        层次聚类可以处理非凸形状的聚类,但对于大规模数据它的计算效率较低,且初始条件可能会影响结果。
                    </a>
                </div>
            </div>

        </div>
        <div class="col-md-1"></div>
        <div class="panel panel-default col-md-4" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">基于密度的噪声应用程序空间聚类(DBSCAN)</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'DBSCAN' %}">
                        DBSCAN是一种基于密度的聚类算法,通过识别数据中的密集区域来确定聚类。
                        它不需要预先指定聚类数,可以自动检测噪声样本。
                        DBSCAN对噪声和异常值具有鲁棒性,可以发现任意形状的聚类,但当数据密度和聚类大小差异较大时,其性能可能会较差,并且计算复杂度随样本数量增加而增加。
                    </a>

                </div>
            </div>

        </div>
    </div>
    {% endblock %}

</body>