{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="container-fluid " style="margin-top: 1%;">

        <div class="panel panel-default col-md-4 col-md-offset-1"
            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
            <div class="panel-heading" style="border-color:white;background-color: transparent;">决策树回归默认训练模型</div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label for="regretar">目标值</label>
                        <input type="text" class="form-control" id="" placeholder="目标值" name="regretar"
                            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
                    </div>
                    <div class="form-group">
                        <label for="regresfile">文件上传</label>
                        <input type="file" id="regresfile" name="regresfile"
                            style="border-color:white;background-color: transparent;">
                    </div>
                    <button type="submit" class="btn btn-default"
                        style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">提交</button>
                </form>

            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="panel panel-default col-md-4"
            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
            <div class="panel-heading" style="border-color:white;background-color: transparent;">
                自定义训练模型
            </div>
            <div class="panel-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" form-group">
                        <label for="regretar1">目标值</label>
                        <input type="text" class="form-control" id="" placeholder="目标值" name="regretar1"
                            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
                    </div>
                    <div class="form-group">
                        <label for="regresfile1">文件上传</label>
                        <input type="file" id="regresfile1" name="regresfile1"
                            style="border-color:white;background-color: transparent;">
                    </div>
                    <div class="form-group">
                        <label for="exerfqt">训练率</label>
                        <input type="text" class="form-control" id="" placeholder="0.8" name="exerfqt" value="0.8"
                            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
                    </div>
                    <div class="form-group">
                        <label for="cont">树的深度</label>
                        <input type="number" class="form-control" id="" placeholder="10" name="cont" value="10"
                            style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">
                    </div>

                    <button type="submit" class="btn btn-default"
                        style="border-color:white;background-color: transparent;box-shadow: 4px 4px 8px rgba(58, 185, 239, 0.5);">提交</button>
                </form>

            </div>
        </div>
    </div>

    </div>
    {% endblock %}
</body>