{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="panel panel-info col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">欢迎使用机器学习平台！</h3>
        </div>
        <div class="panel-body">
            该平台尚处于开发阶段，目前有以下三种模型供各位用户使用
        </div>
    </div>
    <div class="container-fluid " style="margin-top: 1%;">
        <div class="panel panel-default col-md-4 col-md-offset-1" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">回归模型</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'Regress' %}"><img src="{% static 'img/regression1.jpeg' %}" alt="regress"
                            style="width: 100%; height: 150%;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="panel panel-default col-md-4" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">聚类模型</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'Clustering' %}"><img src="{% static 'img/cluster1.jpg' %}" alt="Cluster"
                            style="width: 100%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid " style="margin-top: 1%;">
        <div class="panel panel-default col-md-4 col-md-offset-1" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">分类模型</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'Classification' %}"><img src="{% static 'img/classfy1.png' %}" alt="classify"
                            style="width: 100%;">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="panel panel-default col-md-4" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">更多模型</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'information' %}">敬请期待
                    </a>
                </div>
            </div>
        </div>

    </div>
    {% endblock %}
</body>