{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">我们为什么要构建该平台</h3>
        </div>
        <div class="panel-body">
            在当今瞬息万变的商业环境中,企业迫切需要不断创新和优化,以保持竞争优势。人工智能和机器学习技术正成为推动企业转型的关键驱动力。然而,大多数企业在实现人工智能应用时仍然面临诸多挑战,包括数据准备、模型开发、部署管理等各个环节。
            正是基于这一现状,我们决定开发一个端到端的机器学习平台。我们的初衷是,通过提供全面的工具和服务,帮助企业的数据科学家和开发人员更轻松地构建、部署和管理机器学习模型,从而确保企业能够最大化机器学习模型带来的业务价值,实现更快的投资回报。同时,我们希望为企业提供一个灵活、可扩展的人工智能开发环境,助力其持续创新和转型。此外,我们还将通过全面的安全和合规措施,保护企业的关键数据资产和关键决策模型。
            总的来说,通过这个机器学习平台,我们希望能够为企业赋能,帮助他们更好地利用人工智能技术,推动业务创新,提高竞争力。
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">int65536</div>
        <div class="panel-body">
            <p>欢迎加入我们！</p>
            <p>邮箱：61yalimh@outlook.com</p>
            <p>团队成员</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>联系方式</th>
                    <th>职位</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>匿名</td>
                    <td></td>
                    <td>技术经理</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>匿名</td>
                    <td></td>
                    <td>项目经理</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>匿名</td>
                    <td></td>
                    <td>产品经理</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>匿名</td>
                    <td></td>
                    <td>开发人员</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>匿名</td>
                    <td></td>
                    <td>开发人员</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>期待你的加入</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endblock %}

    <script>

    </script>
</body>