{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to machine learn</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="panel panel-default col-md-7 col-md-offset-1 " style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">回归模型</h3>
                </div>
                <div class="panel-body">
                    <p>回归是另一种监督学习技术，主要用于预测连续型数值输出。回归模型试图建立输入特征与目标变量之间的数学关系，通过训练数据学习最佳拟合函数，以预测未知数据的数值。线性回归、多项式回归、岭回归和梯度提升回归树是常见的回归算法。回归分析广泛应用于经济预测、天气预报、股票市场分析和药物剂量效应预测等领域，其中精确的数值预测至关重要。
                    </p>
                    <a href="#">
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">分类模型</h3>
                </div>
                <p>分类是机器学习中的一种监督学习技术，其目标是预测离散类别的标签。在分类任务中，模型通过学习已标记的训练数据集，识别出输入特征与类别标签之间的关联，从而建立一个分类器。分类器可以用于预测新数据点属于哪个预定义的类别。常见的分类算法包括逻辑回归、支持向量机、决策树、随机森林和神经网络。分类任务在许多领域都有广泛应用，如垃圾邮件检测、图像识别、医疗诊断和情感分析等。
                </p>
                <div class="panel-body">
                    <a href="#">
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">聚类模型</h3>
                </div>
                <div class="panel-body">
                    <p>聚类是一种无监督学习方法，旨在将相似的对象分组到一起，形成不同的集群或类别。与分类不同，聚类不需要预先定义的标签，而是基于对象间的相似度或距离自动进行分组。聚类算法试图优化某种内部度量，如簇内的紧密度或簇间的分离度。典型聚类算法有K-means、层次聚类和DBSCAN等。聚类在市场细分、异常检测、社交网络分析和推荐系统等领域有着重要应用，可以帮助发现数据的内在结构和模式。
                    </p>
                    <a href="#">
                    </a>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">敬请期待</h3>
                </div>
                <div class="panel-body">
                    <a href="#">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="panel panel-default col-md-3" style="border-color:white">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">如有疑问或改善建议请联系我们！</h3>
                </div>
                <div class="panel-body">
                    <p>邮箱：61yalimh@outlook.com</p>
                    <a href="#">
                    </a>
                </div>
            </div>

        </div>
    </div>



    {% endblock %}
    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
</body>

</html>