{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to machine learn</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
</head>

<body>
    <div class="error-message" style="color: red;">
        {{error}}
    </div>
    <form method="post" action="/register/">
        {% csrf_token %}
        <div class="box">
            <h2>Register</h2>
            <div class="input-box">
                <label>账号</label>
                <input type="text" name="user" required>
            </div>
            <div class="input-box">
                <label>密码</label>
                <input type="password" name="pwd" required>
            </div>
            <div class="input-box">
                <label>邮箱</label>
                <input type="email" name="e-mail">
            </div>
            <!-- <div class="input-box">
                <label>电话</label>
                <input type="text" name="phone-number">
            </div> -->
            <div class="btn-box">

                <div>
                    <button type="button" id="login-btn" value="登录" class="btn btn-primary">去登录</button>
                    <button type="submit" class="btn btn-primary">注册</button>

                </div>

            </div>
        </div>
    </form>
    <script>
        document.getElementById('login-btn').addEventListener('click', () => {
            window.location.href = "{% url 'login' %}";
        });
    </script>
</body>

</html>